openapi: 3.2.0
info:
  title: Theneo Publishing API
  description: The Theneo API provides programmatic access to manage API documentation projects, workspaces, user access, and API specification imports on the Theneo platform. Theneo is an AI-powered API documentation tool that generates interactive docs from OpenAPI, Swagger, Postman, and GraphQL specifications.
  version: 1.0.0
  contact:
    name: Theneo
    url: https://www.theneo.io/
  license:
    name: Proprietary
    url: https://www.theneo.io/
servers:
- url: https://api.theneo.io
  description: Theneo API
security:
- apiKey: []
tags:
- name: Publishing
  description: Publish and preview documentation.
paths:
  /projects/{projectId}/publish:
    post:
      operationId: publishProject
      summary: Publish Project
      description: Publishes the API documentation for a project, making it publicly accessible at its documentation URL.
      tags:
      - Publishing
      parameters:
      - name: projectId
        in: path
        required: true
        description: The unique identifier of the project.
        schema:
          type: string
      responses:
        '200':
          description: Project published successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishResponse'
        '401':
          description: Unauthorized. Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}/preview:
    get:
      operationId: getPreviewProjectLink
      summary: Get Preview Project Link
      description: Returns a preview link for the project documentation before it is published.
      tags:
      - Publishing
      parameters:
      - name: projectId
        in: path
        required: true
        description: The unique identifier of the project.
        schema:
          type: string
      responses:
        '200':
          description: Preview link returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewLinkResponse'
        '401':
          description: Unauthorized. Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    PublishResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the publish was successful.
        url:
          type: string
          format: uri
          description: The public URL of the published documentation.
    PreviewLinkResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: The preview URL for the project documentation.
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error type or code.
        message:
          type: string
          description: A human-readable error message.
  securitySchemes:
    apiKey:
      type: apiKey
      name: Authorization
      in: header
      description: API key for authentication. Generate from the Theneo dashboard. Can also be set via the THENEO_API_KEY environment variable when using the CLI or SDK.
